@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*,
body {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body {
    background-color: gainsboro;
}
ul {
    list-style: none;
}

main {
    margin: 1rem;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 2rem;
    filter: drop-shadow( 0 0  0.2rem black);
}

.personal,
.skills,
.languages {
    padding: 1rem;
    line-height: 2;
}

.left {
    background-color: #fff;
}

.left-image img {
    width: 100%;
    height: 20%;
    

    
    
}




.left-image {
    position: relative;
}

.left-image h2 {
    position: absolute;
    bottom: 10px;
    left: 1rem;
    color: aliceblue;
    
}


.experience {
    line-height: 2;
    background: white;
    padding: 1.5rem;
}

.experience ul {
    margin: 2rem;
}

.date {
    color: rgb(16, 101, 212);;
}


.current {
    background-color:rgb(61, 132, 224);
    color: #333;
    padding: 0.4rem;
    border-radius: 3px;
}

.my-name {
    background-color:rgb(16, 101, 212);
    color: rgb(59, 10, 10);
    border-radius: 3px;
    
}

.education {
    line-height: 2;
    background: white;
    padding: 1.5rem;
    margin-top: 2rem;
}

.education ul {
    margin: 2rem;
}    

footer {
    background-color: rgb(61, 132, 224);
    padding: 2rem 0;
    text-align: center;
    line-height: 1.5;
}
footer i {
    margin-left: 1rem;
    color: #fff;
}

footer p {
    margin-left: 1rem;
    font-size: 20px;
    color: #fff;
}
i {
    color: rgb(21, 106, 219);
}